.container {
    height: 100vh;
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.card-container {
    width: 500px;
    height: 500px;
}

.card-design {
    border-radius: 10px;
    padding-top: 15px;
    width: 100%;
    height: 575px;
}

.button-width {
    width: 455px;
    margin-top: 30px;
}

.form-margin {
    margin-left: 25px;
    margin-right: 25px;
}

.title-style {
    font-weight: bold;
    font-size: 32px;
}

.sub-text {
    font-weight: 600;
    font-size: 16px;
}

.align-center {
    text-align: center;
    margin-bottom: 25px;
}