<div class="container background-dark">
    <div class="card-container">
      <p-card [style]="{width: '100%', height: '100%'}" styleClass="ui-card-shadow">
        <form [formGroup]="formGroup">
            <h5>Create a new User:</h5>
            <div class="form-group">
              <label for="Email"><span>UserName (Email)</span></label>
              <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="icon ion-md-person"></i></span>
                  <input type="text" id="Email" name="Email" formControlName="Email" />
              </div>
            </div>
            <div class="form-group">
              <label for="Password"><span>Password</span></label>
              <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="icon ion-md-lock"></i></span>
                  <input type="password" pPassword id="Password" name="Password" formControlName="Password" />
              </div>
            </div>
            <div class="form-group">
              <label for="FirstName"><span>First Name</span></label>
              <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="icon ion-md-lock"></i></span>
                  <input type="text" pPassword id="FirstName" name="FirstName" formControlName="FirstName" />
              </div>
            </div>
            <div class="form-group">
              <label for="LastName"><span>Last Name</span></label>
              <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="icon ion-md-lock"></i></span>
                  <input type="text" pPassword id="LastName" name="LastName" formControlName="LastName" />
              </div>
            </div>
            <div class="form-group d-flex justify-content-center">
              <button type="submit" class="button button-primary" (click)="AttemptLogin()">Create</button>
            </div>
        </form>
      </p-card>
    </div>
  </div>