.container {
    height: 100vh;
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.card-container {
    width: 500px;
    height: 500px;
}

.card-design {
    border-radius: 10px;
    padding-top: 15px;
    width: 100%;
    height: 615px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button-width {
    width: 455px;
    margin-top: 15px;
}

.form-margin {
    margin-left: 25px;
    margin-right: 25px;
}

.align-center {
    text-align: center;
}