<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<div class="container" style="height: 100%">
  <h3 class="first">Create Event</h3>
  <a class="primary-title" [routerLink]="['../']" routerLinkActive="router-link-active" ><i style="font-size: small" class="pi pi-chevron-left"></i>Back to Dashboard</a>
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
  <div [hidden]="activeIndex !== 0">
    <div class="form-group"><span class="text-sm">Users: </span><p-multiSelect [options]="users" [(ngModel)]="selectedUsers" [style]="{'width': '100%'}"></p-multiSelect>
    </div>
    <div class="form-group"><span class="text-sm">Title: </span><input type="text" pInputText [(ngModel)]="title" class="form-control" /></div>
    <div class="form-group"><span class="text-sm">Description: </span><textarea pInputTextarea [(ngModel)]="description" class="form-control"></textarea></div>
    <div class="form-group"><span class="text-sm">Date/Time: </span><p-calendar [(ngModel)]="date" [showTime]="true" [style]="{'width': '100%'}"></p-calendar>
    </div>
    <button type="button" class="btn background-primary white-text text-sm btn-lg" (click)="activeIndex = 1">Next</button>
  </div>
  <div [hidden]="activeIndex !== 1">
    <div class="form-group"><span class="text-sm">Type of Food: </span><input type="text" pInputText [(ngModel)]="searchTerm" class="form-control"/></div>
    <div class="form-group"><span class="text-sm">Price Range: </span><p-multiSelect [options]="prices" [(ngModel)]="selectedPrices" [style]="{'width': '100%'}"></p-multiSelect>
    </div>
    <div class="form-group"><span class="text-sm">Radius (mi): </span><input type="text" pInputText [(ngModel)]="radius" class="form-control" /></div>
    <div class="form-group"><span class="text-sm">Location: </span><input type="text" pInputText [(ngModel)]="location" class="form-control" /></div>
    <div class="form-group"><span class="text-sm">Rating: </span><p-multiSelect [options]="stars" [(ngModel)]="selectedStars" [style]="{'width': '100%'}"></p-multiSelect>
    </div>
    <button type="button" class="btn btn-secondary white-text text-sm btn-lg mr-3" (click)="activeIndex = 0">Previous</button>
    <button type="button" class="btn background-primary white-text text-sm btn-lg" (click)="getRestaurants();">Next</button>
  </div>
  <div [hidden]="activeIndex !== 2">
    <div class="p-grid p-justify-center mt-0">
      <div class="p-col-3" *ngFor="let result of restaurantResults?.businesses">
        <div class="card" (click)="cardClicked(result)" [class.card-selected]="selectedCards.includes(result.id)">
          <img class="card-img-top" [src]="result.image_url" alt="Card image cap">
          <div class="card-body">
            <h5>{{result.name}}</h5>
            <p>Price: {{result.price}}</p>
            <p>Rating: {{result.rating}}</p>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-secondary white-text text-sm btn-lg mr-3" (click)="previous(1)">Previous</button>
    <button type="button" class="btn background-primary white-text text-sm btn-lg" (click)="save()">Finish</button>
  </div>
</div>
