<h3 class="first">Create Event</h3>
<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
<div [hidden]="activeIndex !== 0">
    <div class="form-group">Users: <p-multiSelect [options]="users" [(ngModel)]="selectedUsers" [style]="{'width': '100%'}"></p-multiSelect></div>   
    <div class="form-group">Title: <input type="text" pInputText [(ngModel)]="title" class="form-control"/></div>
    <div class="form-group">Description: <textarea pInputTextarea [(ngModel)]="description" class="form-control"></textarea></div>
    <div class="form-group">Date/Time: <p-calendar [(ngModel)]="date" [showTime]="true" [style]="{'width': '100%'}"></p-calendar></div>
    <button type="button" class="btn btn-primary" (click)="activeIndex = 1">Next</button>
</div>
<div [hidden]="activeIndex !== 1">
    <div class="form-group">Price Range: <p-multiSelect [options]="prices" [(ngModel)]="selectedPrices" [style]="{'width': '100%'}"></p-multiSelect></div>
    <div class="form-group">Radius (mi): <input type="text" pInputText [(ngModel)]="radius" class="form-control"/></div>
    <div class="form-group">Location: <input type="text" pInputText [(ngModel)]="location" class="form-control"/></div>  
    <div class="form-group">Rating: <p-multiSelect [options]="stars" [(ngModel)]="selectedStars" [style]="{'width': '100%'}"></p-multiSelect></div>
    <button type="button" class="btn btn-secondary" (click)="activeIndex = 0">Previous</button>   
    <button type="button" class="btn btn-primary" (click)="getRestaurants();">Next</button>
</div>    
<div [hidden]="activeIndex !== 2">
    <div *ngFor="let result of restaurantResults?.businesses">
        <div>
            {{result.name}}, {{result.price}}, {{result.rating}}
        </div>
    </div>
    <button type="button" class="btn btn-secondary" (click)="activeIndex = 1">Previous</button> 
    <button type="button" class="btn btn-primary" (click)="save()">Finish</button>
</div>   