/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import './colors';

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background: $background-light;
}
.primary-title {
  color: #79B791 !important;
}
.clearfix {
  clear: both;
}

.bg-light  {
    background-color: #435058 !important;
    color: #fff !important;
}
.ui-steps .ui-steps-item {
  width: 33%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-state-highlight .ui-steps-number {
  background-color:  #79B791!important;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

.background-dark {
    background-color: $background-dark;
}

.background-light {
    background-color: $background-light;
}

.primary-title {
  color: #79B791 !important;
}

.background-primary {
  background-color: #79B791 !important;
}

.white-text {
  color: white;
}

.btn-primary {
  background-color:  #79B791 !important;
  border-color:  #79B791!important;
}

.btn-secondary {
  background-color:  $background-dark !important;
  border-color:  $background-dark!important;
}

.btn-primary-border {
  background-color: $background-dark;
  border-color: #79B791!important;
  color: #79B791 !important;
}

.btn-primary-border:hover {
  background-color:  #79B791 !important;
  color: $background-dark !important;
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: #79B791 !important;
  color: white !important;
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
  color: white !important;
}

.text-lg, h2, h1 {
  font-weight: bold;
  font-size: 32px;
  font-family: 'Audiowide';
  letter-spacing: 2px;
}

.text-md, h3, h4 {
  font-weight: 600;
  font-size: 26px;
  font-family: 'Audiowide';
  letter-spacing: 2px;
}

.text-sm, h5, p {
  font-weight: 500;
  font-size: 22px;
  font-family: 'Audiowide';
  letter-spacing: 1px;
}

.card {
  box-shadow: 0 1px 7px rgba(0,0,0,.05);
}

a {
  color: #79B791;
}